<div class="modal-dialog">
    <div class="modal-content">

        <!--#region header  -->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" data-bind="click: Dismiss" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">gestion des examens</h4>
        </div>
        <!--#endregion -->
        <!--#region body  -->
        <div class="modal-body">

            <form>
                <div class="form-group">
                    <p>
                        <label for="Titre">Catégories :</label>
                        <select data-bind="options: Categorie, value:selectedCategorie"></select>
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label for="Titre">examens :</label>
                        <select data-bind="options:listExamen,optionsText:'titre', value:selectedExamen "></select>
                    </p>

                    <div class="form-group">
                        <p>
                            <label for="Titre">Nombre Apprenants :</label>
                            <input data-bind="value:NombreApprenant" />
                        </p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bind="click: AddToPanel">Add</button>
                </div>

                <div>
                    <table class="table-bordered table-responsive table-condensed">
                        <thead>
                            <tr>
                                <th>Categorie</th>
                                <th>Examen</th>
                                <th>Nombre Apprenant</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: StockListChoix">
                            <tr>
                                <td data-bind="text: categorie"></td>
                                <td data-bind="text: examen"></td>
                                <td data-bind="text: nombreApprenant"></td>
                                <td><button class="close" data-bind="click: $root.deleteFromList, value:$root.StockListChoix() ">&times;</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: Dismiss">Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: StockList">Save changes</button>
                </div>

            </form>
        </div>
        <!--#endregion -->
        <!--#region footer  -->
        <!--#endregion -->
    </div>
</div>