<nav class="navbar navbar-inverse navadminHeaderbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--mli kanbraak 3la DynIT katrj3ni l Index-->
        <a data-bind="attr: { href: router.convertRouteToHash('/' + router.navigationModel()[0].hash) }" class="navbar-brand"><i class="fa fa-home"></i>    DynIT</a>
    </div>
    <div class="collapse navbar-collapse navbar-main-collapse" style="height: 0px;">
        <ul class="nav navbar-nav" >
            <!--ko if: !(typeof(appsecurity.userInfo()) == 'undefined')-->
                <!--ko if: appsecurity.isUserInRole(['Administrateur', 'Formateur'])-->
                    <!--ko foreach: adminHeader-->
                    <li data-bind="css: { active: isActive }">
                        <a data-bind="attr: { href: $parent.router.convertRouteToHash('/' + hash) }, text: title"></a>
                    </li>
                    <!--/ko-->
                <!--/ko-->
                <!--ko if: !(appsecurity.isUserInRole(['Administrateur', 'Formateur']))-->
                    <!--ko foreach: userHeader-->
                    <li data-bind="css: { active: isActive }">
                        <a data-bind="attr: { href: $parent.router.convertRouteToHash('/' + hash) }, text: title"></a>
                    </li>
                    <!--/ko-->
                 <!--/ko-->
            <!--/ko-->

            <!--ko if: (typeof(appsecurity.userInfo()) == 'undefined')-->
                <!--ko foreach: userHeader-->
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: $parent.router.convertRouteToHash('/' + hash) }, text: title"></a>
                </li>
                <!--/ko-->
            <!--/ko-->

        </ul>
        <ul class="nav navbar-nav navbar-right" data-bind="if: typeof(appsecurity.userInfo()) == 'undefined'">
            <li>
                <a data-bind="attr: { href: router.convertRouteToHash('/account/login') }"><i class="fa fa-lock"></i>&nbsp; Connexion</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-bind="if: !(typeof(appsecurity.userInfo()) == 'undefined')">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user"></i>&nbsp; Hi <span data-bind="text: appsecurity.userInfo().name"></span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation" class="dropdown-header">Options</li>
                    <li><a data-bind="attr: { href: router.convertRouteToHash('/account/manage') }"><i class="fa fa-user-md"></i>  G&eacuterez votre compte</a></li>
                    <li data-bind="visible: appsecurity.isUserInRole(['Administrateur'])" class="divider"></li>
                    <li data-bind="if: appsecurity.isUserInRole(['Administrateur'])" role="presentation" class="dropdown-header">Administration</li>
                    <li data-bind="if: appsecurity.isUserInRole(['Administrateur'])"><a data-bind="    attr: { href: router.convertRouteToHash('/admin/panel') }"><i class="fa fa-users"></i>  Admin Panel</a></li>
                    <li class="divider"></li>
                    <li><a href="#" data-bind="click: logout"><i class="fa fa-lock"></i>   D&eacuteconnexion</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right visible-xs visible-sm">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-share-square"></i>   Partager
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation" class="dropdown-header">Partager ce site sur votre réseau pr&eacutef&eacuter&eacute</li>
                    <li>
                        <a href="" target="_blank">
                            <i class="fa fa-facebook-square"></i>   Partager sur Facebook
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <i class="fa fa-twitter-square"></i>   Partager sur Twitter
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <i class="fa fa-linkedin-square"></i>   Partager sur LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <i class="fa fa-google-plus-square"></i>   Partager sur Google plus
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul id="sharebar" class="nav navbar-nav navbar-right visible-md visible-lg">
            <li>
                <a href="" target="_blank">
                    <i class="fa fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <i class="fa fa-twitter-square"></i>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <i class="fa fa-linkedin-square"></i>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <i class="fa fa-google-plus-square"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>