<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span></span>
        </a>
        <div class="btn-group" data-bind="foreach: router.navigationModel">
            <a data-bind="css: { active: isActive }, attr: { href: hash }, text: title"
               class="btn btn-info" href="#"></a>
        </div>
        <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
            <div class="progress progress-striped active page-progress-bar">
                <div style="width: 100px;"></div>
            </div>
        </div>
    </div>
</nav>
