<div id="notfound">
    <div class="container">
        <div class="page-header">
            <h1>Oooooops!!   <small>Pouvais pas trouver ce que vous cherchez</small></h1>
        </div>
        <h3>Il n'ya pas de page sur ce site avec l'URL que vous avez fournis, peut-être que vous essayez d'obtenir le ...</h3>
        <ul class="list-unstyled mart2">
            <li><a href="#" data-bind="attr: { href: convertRouteToHash('/') }" class="lead">La page d'accueil</a></li>
            <li><a href="#" data-bind="attr: { href: convertRouteToHash('/account/manage') }" class="lead">Gestion de votre compte</a></li>
        </ul>        
    </div>
</div>