<div class="container-fluid">
    <div class="row-fluid " >
        <div class="span2 pull-left">
            <ul class="nav list-group ">
                <li class="nav-header">Gestion des Formations</li>

                <!--ko foreach: ModuleFormation-->
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, text: title"></a>
                </li>
                <!--/ko-->

               <li class="nav-header">Gestion des Annonces</li>

                <!--ko foreach: ModuleAnnonce-->
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, text: title"></a>
                </li>
                <!--/ko-->


            </ul>
        </div>
        <div class="span10">
            <!--ko router: { transition:'entrance', cacheViews:true }--><!--/ko-->
        </div>
    </div>
</div>