<div id="externalloginfailure">
    <div class="container">
        <div class="page-header">
            <h1>Échec de connexion externe</h1>
        </div>
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Impossible de s'authentifier</strong>à l'aide de vos informations d'identification. Essayez plus tard et si le problème persiste <a data-bind="attr: { href: convertRouteToHash('/home/about') }">contactez-nous</a>
        </div>
    </div>
</div>
