<div id="registrationcomplete">
    <div class="container">
        <div class="page-header">
            <h1>Votre compte a &eacutet&eacute confirm&eacute avec succ&egraves!</h1>
        </div>
        <h3><a href="#" data-bind="attr: { href: router.convertRouteToHash('/account/login') }" class="lead">Connectez-vous</a> avec vos identifiants et commencer &agrave utiliser votre compte ...  ou vous pouvez:</h3>
        <ul class="list-unstyled mart2">
            <li><a href="#" data-bind="attr: { href: router.convertRouteToHash('/') }" class="lead">Aller &agrave la page d'accueil</a></li>
            <li><a href="#" data-bind="attr: { href: router.convertRouteToHash('/account/manage') }" class="lead">Manage your account</a></li>
        </ul>
    </div>
</div>