<div>
    <select data-bind="options: ListFormations, optionsText: 'titre', value:selectedFormation">
        <option>selectionne une Formation---</option>  
    </select>

    <form class="panel" data-bind="foreach: data">
        <!--Titre-->
        <div class="form-group">
            <label for="Titre">Titre :</label>
            <input data-bind="value: Titre" type="text" name="Titre" class="form-control" />
        </div>

        <!--Nom Organisme-->
        <div class="form-group">
            <label for="nomOrganisme">Nom Organisme :</label>
            <input data-bind="value: NomOrganisme" type="text" name="nomOrganisme" class="form-control" placeholder="e.g emsi" />
        </div>

        <!--Description-->
        <div class="form-group">
            <label for="Description">Description :</label>
            <textarea data-bind="value: Description" name="Description" class="form-control"></textarea>
        </div>

        <!--Date de début-->
        <div class="form-group">
            <label for="DateDebut">date de debut :</label>
            <input data-bind="value: DateDebut" type="date" name="DateDebut" class="form-control" />
        </div>

        <!--Date de Fin-->
        <div class="form-group">
            <label for="DateFin">date de Fin :</label>
            <input data-bind="value: DateFin" type="date" name="DateFin" class="form-control" />
        </div>


        <div class="btn-group">
            <p class="tpbutton btn-toolbar" style="text-align:center">
                <a class="btn navbar-btn btn-primary btn-success" href="#" target="_texturepack"
                   data-toggle="modal" data-target="#Gestion">Modifier des examens</a>
                <a class="btn navbar-btn btn-primary btn-success" href="#" target="_texturepack"
                   data-toggle="modal" data-target="#Profile">Modifier le Profile</a>
            </p>
        </div>
        <div class="btn-group container">
            <p class="tpbutton btn-toolbar" style="text-align:center">
                <a class="btn navbar-btn btn-primary btn-success" >Modifier</a>
                <a class="btn navbar-btn btn-default btn-danger" href="#ap" target="_texturepack">Annuler</a>
            </p>
        </div>
    </form>

</div>


<!--pop-up Gestion de profil-->
<div class="modal fade" id="Profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!--ko compose: 'GestionDesFormations/ModifierFormation/F_ModifierProfil.html'--><!--/ko-->
</div>


